<h1>Log in</h1>
<% form_for(@user_session) do |f| %>
  <div class="left">
    <h2>Log in with your account</h2>
    <p>
      <%= f.label :login %>
      <br>
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
    </p>
    <p><%= f.submit "Login" %></p>
  </div>
  <div class="right">
    <h2>Or log in via:</h2>
    <% Reflex::OAuthServer.get_providers.each do |provider| %>
      <%= f.submit provider, :name => "react_provider" %>
    <% end %>
  </div>
<% end %>